

html {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: rgb(70,70,85);
    overflow-x: hidden;
  
}

body {
    width: 100%;
}

.nav-section{
	margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0%;
    margin-right: 0%;
    line-height: 1.8rem;
    text-align:center;   
    position: fixed;
    width: 100%;

}

 
ul{
	
	display: inline-block;
    padding: 0;
    overflow: hidden;
  }


li {
    float: center;
    display: inline-block;
   }

li a {

    display: block;
    color: #333;
    text-align: center;
    padding: 24px 26px;
    font-size: 34px;
    text-decoration: none;
     }

li a:hover:not(.active) {
    font-size: 38px; ;
    color: #6FCF97;
}


header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 50px;
    background-color: rgba(0, 117, 255, 0.85);
    z-index: 10;
    -webkit-backdrop-filter: blur(25px);
    transition: 0.2s;

}

header h3 {
    color: white;
    font-size: 1.6rem;
    line-height: 0.1rem;
    text-align: center;
}



.party {
    height: 100vh;
    background-image: url('../media/party.jpg');
    background-position: center;
    background-repeat: none;
    background-size: cover;
}

.first {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0vh;
    top: 10vh;
    background: linear-gradient(0deg, rgba(25,25,30,0.75) 0%,rgba(35,35,40,0) 100%);
    padding: 5%;
}

.first > h2 {
    position: relative;
    text-align: center;
    top: 30%;
    width: 100%;
    font-weight: 100;
    color: white;
    font-size: 4rem;
    text-shadow: 0 5px 15px rgba(25,25,25,0.9);

}

.second > h3 {
    position: relative;
    text-align: center;
    top: 30%;
    width: 100%;
    font-weight: 100;
    color: #6FCF97;
    font-size: 4rem;
}

.second > p {
    position: relative;
    text-align: center;
    top: 30%;
    width: 100%;
    font-weight: 100;
    color: #777;
    font-size: 1.8rem;

}

.girlfight > h3 {
    position: relative;
    text-align: center;
    top: 30%;
    width: 100%;
    font-weight: 100;
    color: #6FCF97;
    font-size: 4rem;

}

.girlfight > p {
    position: relative;
    text-align: center;
    top: 30%;
    width: 100%;
    font-weight: 100;
    color: #777;
    font-size: 1.8rem;

}

.body-section {
    margin-top: 50px;
    margin-bottom: 300px;
    margin-left: 5%;
    margin-right: 5%;
    line-height: 3.8rem;
    text-align: center;
   }

.item4 {  
    grid-area: left; 
    color: black;
    height: 50vh;
    background-size: cover;
    background-position: center;
    background-image: url('../media/mockup.jpg');
    padding: 4% 0% 4% 0%;


}

.item5 {  
    grid-area: girl; 
    color: black;
    height: 70vh;
    background-size: cover;
    background-position: center;
    background-image: url('../media/logo2.jpg');
    font-size: 20px;
    padding: 4% 0% 4% 0%;
}



.grid-container {
  display: grid;
  grid-template-areas:
    'left left left left left left'
    'girl girl girl girl girl girl';
    


  grid-gap: 0px;
  
  padding: 5%;

}

.button{
    background-color: #D99898;
    color:white;
    display: inline-block;
    padding: 20px;
    margin-left:47%;
    margin-right:50%;
    border-radius: 12px;
    font-size: 17px;
    font-family: 'Roboto', sans-serif;

}



@media(max-width: 850px) {
    

    html {
        font-size: 14px;
    }

    header {
        background-color: rgba(240,240,240,0.85);
        border-bottom: solid 1px rgba(180,180,180,0.25);
    }

    header h3 {
        line-height: 0.5rem;
        color: rgba(50,50,50,0.75);
    }

    

}


